<button (click)="hydrateAggregate()">Hydrate</button>
<p></p>
<button (click)="getAggregate()">Get Aggregate</button>
<button (click)="getParent()">Get Parent</button>
<button (click)="getChild()">Get Child</button>
<button (click)="getGrandchild()">Get Grandchild</button>
<p></p>
<button (click)="saveAggregate()">Save Aggregate</button>
<button (click)="saveParent()">Save Parent</button>
<button (click)="saveChild()">Save Child</button>
<button (click)="saveGrandchild()">Save Grandchild</button>
